{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'autorizacao/css/autorizacao.css' %}" width="9%" rel="stylesheet">
    <title>Autorizacao</title>
</head>
<body>
    <div>
        <img src="{% static 'autorizacao/img/logo.png' %}" alt="Logo" class="logo">
    </div>

    <div class="wrapper">
        <div class="header font-vinho body-form box wrapper ">
            <h2>Lista de Condomínios</h2>        
        </div>
    </div> 

    <div class="wrapper">
        <form action="{% url 'listar_condominios' %}" method="GET">
        
        <table class="tabela body-form" >
            <tr>
                <th>ID</th>
                <th>Condomínio</th>
            </tr> 
            
            {% for condominio  in dados %}  
            <tr>
                <td>{{condominio.id}}</td>
                <td>{{condominio.nome_condominio}}</td>

                <td>
                    <button type="submit" name="selected_id" value="{{ condominio.id }}" class="btn-custom-primary">Selecionar</button>
                </td>
            </tr>
            {% endfor %}
            
        </table>
    </form>
    </div>
</body>
</html>
